:root {
    --dark-grey: #1f232b;
    --light-grey:#282c37;
    --darker-grey: #131419;
    --blue: #56a7e1;
    --light-blue: #5db2f0;
    --white: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--dark-grey);
    color: var(--white);
}

button {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.item {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px 8px;
    background-color: var(--light-grey);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.account-info {
    display: flex;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.account-info * {
    text-decoration: none;
    color: var(--white);
}

.account-info:hover {
    background-color: #ffffff11;
    border-radius: 6px;;
}

.username {
    margin-left: 4px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

#form {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#form input {
    margin: 8px 0;
}

#form .button {
    min-height: 40px;
}

#form input {
    border-radius: 3px;
}

.input {
    min-height: 40px;
    font-size: 18px;
    background-color: var(--darker-grey);
    color: #fff;
    padding: 0 8px;
    border: 1px solid var(--darker-grey);
}

.input:focus {
    border: 1px solid var(--blue);
}

.button {
    background: var(--blue);
    color: #fff;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
}

.button:hover {
    background: var(--light-blue);
}

.secondary {
    color: #9baec8;
}

.item .secondary {
    margin: 10px 30px;
}

.account-list {
    max-width: 800px;
    margin: 0 auto;
}

.indefinite-progress {
    background-image: repeating-linear-gradient(
        -45deg,
        var(--blue),
        var(--blue) 5px,
        var(--light-grey) 5px,
        var(--light-grey) 10px
    );
    /* -webkit-background-size: 15px; */
    background-size: 15px 15px;
    width: 100%;
    height: 3px;
    margin-bottom: 16px;
}

.text-button {
    background: transparent;
    color: var(--blue);
    border: none;
    text-transform: uppercase;
    padding: 0 4px;
    font-weight: bold;
    white-space: nowrap;
}

.text-button:hover {
    color: var(--light-blue);
}

.text-button:disabled {
    filter: brightness(80%);
    cursor: initial;
}

.expander {
    flex: 1;
}

.item-buttons {
    display: flex;
    flex-shrink: 0;
}

.display-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.usernames {
    display: flex; 
    flex-direction: column;
    margin-left: 8px;
    min-width: 0;
}

.login {
    max-width: 800px;
    margin: 0 auto;
}

.relationship-icon {
    color: white;
    font-weight: bold;
    align-self: center;
    font-family: monospace;
    font-size: 26px;
    margin-right: 8px;
}

.following-items {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.following-active-date {
    margin-right: 8px;
    align-self: center;
}

.chooser {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.chooser .button {
    min-height: 40px;
    margin: 16px;
    padding: 16px;
}

.snackbar {
    position: fixed;
    bottom: 8px;
    left: 16px;
    padding: 8px;
    background: var(--white);
    color: var(--dark-grey);
}

.instance-picker {
    margin: 16px 0;
}

.instance-picker button {
    width: 100%;
}